<% usage = promotion.usage_limit || 0 %>
<% status = ( promotion.expired? || ( promotion.credits_count >= (usage-1) && usage != 0) ) ? 'inactive' : 'active' %>
<td class="align-center"><span class="state <%= status %>"><%= status %></span></td>
