<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag "admin/html-receipt", "http://fonts.googleapis.com/css?family=Lato:300,400,700" , :media => "all" %>
    <title><%= I18n.t("#{params[:template]}.header") %></title>
</head>

<body onLoad="self.print()">
<div class="receipt">
    <div id="header">
        <%= render :partial => "spree/admin/invoice/receipt_header" %>
    </div>
    <div class="info">
        <%= yield %>
    </div>
    <div class="footer">
        Más información info@nigramercato.com o llamando al 914 20 47 78
    </div>
</div>
</body>
</html>
