<div>
    <h1>Refund complete</h1>
    <p>Refund number <b><%= @return_authorization.number %></b></p>
    <p>You have successfully returned the following items:</p>
    <ul>
    <% @return_authorization.inventory_units.each do |iu| %>
        <li><%= iu.variant.product.name %> <%= iu.variant.sku.to_s %></li>
    <% end %>
    </ul>
</div>