<div class="select_order">
    <%= form_tag 'select_items' do |f| %>
        <%= label_tag :order_number, 'Order Number' %>
        <%= text_field_tag :order_number %>
        <%= submit_tag 'Search order' %>
    <% end %>
</div>