<p>Cupon descuento de <b class="total"><%= Spree::Money.new(@coupon_amount).to_html %></b></p>
<p><%= image_tag "/#{@coupon.code}.png", height:'120px', width: '100%' %></p>
<p><%= @coupon.code %></p>
<p>Este cup칩n no caduca y es valido para las compras en la tienda y para las compras en la p치gina web www.NIGRAMERCATO.com</p>
<p><b>Este cup칩n es de un s칩lo uso</b></p>
